<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">	
	<meta name="description" content="Astur Catering - Ofrecemos una variedad de platos cuidadosamente preparados y listos para
						disfrutar en la comodidad de su hogar.">
	<meta name="keywords" content="catering, platos, menús, platos caseros">
	<title>Perfil</title>
	<link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="/img/favicon.png" sizes="64x64">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="ms-4 mt-5">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a th:href="@{/platos}">Home</a>
			</li>
			<li class="breadcrumb-item active">Perfil</li>
		</ol>
		<h1 class="text-center mt-5">Tus datos</h1>
	</div>
	<div class="container-fluid">
		<th:block th:insert="~{public/navigation::main-nav}"></th:block>
	</div>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-2 col-1"></div>
			<div class="col-md-8 col-10">
				<p>Nombre: <span th:text="${nombre}"></span></p>			
				<p>Localidad: <span th:text="${localidad}"></span></p>
				<p>Email: <span th:text="${email}"></span></p>
				<p>Username: <span th:text="${username}"></span></p>				
				<div class="text-end mt-3">					
					<a th:href="@{/modificar/{id}(id=${id})}" class="btn btn-custom-success mb-5 mt-5">Modificar</a>
					<a th:href="@{/platos}" class="btn btn-custom-success mb-5 mt-5">Volver</a>
				</div>
			</div>
			<div class="col-md-2 col-1"></div>
		</div>
	</div>
	<th:block th:insert="~{public/navigation::footer}"></th:block>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>

</body>
</html>